<div class="navbarComponent">

  <div class="navbarContent">

   <div class="navbarLeft">
      <div class="navbarLogo">
        <img src="./../../../../public/img/navbar/lc_logo.jpg" alt="logo">
      </div>
    </div>


    <div class="navbarRight">
      <div class="navbar">
      <a href="#aboutme">About me</a>
      <a href="#skills">Skills</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#contact">Contact</a>
    </div>

    <div class="navbarSwitchlanguage">
      <button>DE</button>
      <button>EN</button>
    </div>
  </div>


  </div>

</div>
