<section class="wholeContent">
  <section class="leftSide">

  </section>




  <section class="rightSide">
    <div class="descriptionName">
      <h1>
        {{ 'home.name' | translate }}
      </h1>
      <h2>
        {{ 'home.role' | translate }}
      </h2>
    </div>
  </section>






  <section class="socialMedia">
    <a href="https://github.com/lcotar" target="_blank">
      <img src="/img/social_media/08_github.png" alt="">
    </a>


    <a href="" target="_blank">
      <img src="/img/social_media/09_email.png" alt="">
    </a>


    <a href="" target="_blank">
      <img src="/img/social_media/10_linkedin.png" alt="">
    </a>
  </section>




  <section class="scrollDown">

  </section>




</section>

