<section class="wholeContent">
  <section class="leftSide">

    <img class="profile" src="/img/professionelles_Bild.png" alt="">
    <img class="shadow" src="/img/shadow/01_photo_shadows.png" alt="">

  </section>

  <img class="banner" src="/img/background.png" alt="">

  <section class="rightSide">
    <section class="name">
    <div class="whoIsContent">
      <h2 class="homeWhoIs">
        {{ 'home.whoIs' | translate }}
      </h2>
    </div>

    <div class="descriptionName">

      <h1 class="homeName">
        {{ 'home.name' | translate }}
      </h1>
      <h2 class="homeRole">
        {{ 'home.role' | translate }}
      </h2>
    </div>

    <div class="talkBTN">
      <button class="talk">
        {{ 'home.talk' | translate }}
      </button>
    </div>
    </section>



    <section class="homeFooter">

  <section class="socialMedia">
    <img src="/img/lines/01_quick_contact.png" alt="">
    <a href="https://github.com/lcotar" target="_blank">
      <img src="/img/social_media/08_github.png" alt="">
    </a>


    <a href="" target="_blank">
      <img src="/img/social_media/09_email.png" alt="">
    </a>


    <a href="http://www.linkedin.com/in/leacotar" target="_blank">
      <img src="/img/social_media/10_linkedin.png" alt="">
    </a>

    <a href="#contact">
      <!--
      contact@cotar.com
    -->
    </a>
  </section>

  <section class="scrollDown">
    <div class="scrollDownTXT">
      <a href="#contact">Scroll down <img src="/img/arrow_scroll_down.png" alt=""></a>
    </div>
  </section>



    </section>




  </section>
</section>
