html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .banner {
    position: relative;
    top: 378px;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 972px;
    align-self: stretch;
    /* color: #192337 */
  }

.wholeContent {
    position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  top: 0;
  background-color: #141D2F;
}

.leftSide {
  position: relative;
  width: 50%;
  left: 0;

  img {
    position: absolute;
    top: 0;
  }

  .shadow {
    z-index: 0;
  }

  .profile {
    z-index: 1;
  }
}



.rightSide {
  position: absolute;
  top: 300px;
  width: 100%;
  right: 0;
  z-index: 99;
}

.name {
  position: absolute;
  top: 0;
  z-index: 10; // damit es über dem Banner liegt
  left: 50%;
  transform: translate(-75%, -50%);
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  color: #FFFFFF;
}

.homeRole {
  margin: 0;
  color: #9747FF;
}

.homeWhoIs {
    color: #FFFFFF;
}


.talkBTN {
  button {
    background-color: #70E61C;
    border-color: #70E61C;
    color: #FFFFFF;
    border-radius: 10px;
    width: 165px;
    height: 60px;

    talk {
      font-size: 50px;
    }
  }
}

.homeFooter {
  display: flex;
  justify-content: space-between;
}

  .socialMedia {
    position: relative;
    top: 903px;
    display: flex;
    gap: 32px;
    align-items: center;
  }

.scrollDown {
  position: relative;
  top: 773px;
  a {
      color: #FFFFFF;
      text-decoration: none;
  }

}
